.services {
  display: grid;
  grid-gap: 0 2rem;
  grid-template-columns: 6rem auto;
  grid-template-rows: 6rem auto;
}

.services__title {
  align-self: center;

  color: var(--color__text);

  font-size: var(--text__title-size);
  font-family: "MonomaniacOne-Regular";
}

.services-list {
  grid-row: 2;
  grid-column: 2;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.service {
  width: fit-content;

  display: flex;
  gap: 0.25rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.service__icon {
  width: 9rem;
  height: 9rem;
}

.service__title {
  width: fit-content;

  text-align: center;
  color: var(--color__text);

  font-family: "Lato-Regular";
  font-size: var(--text__normal-size);
}
