.landing-page__hero-text-wrapper {
  max-width: 50%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.landing-page__hero-title {
  color: rgba(255, 255, 255, 0.8);
  font-size: 8rem;
  line-height: 6.6rem;

  width: min-content;

  font-family: "LexendDeca-Bold";

  position: relative;
}

.landing-page__hero-title::after {
  content: "MINDS";

  color: var(--color__text);

  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  translate: -49% -48%;
}

.landing-page__hero-purpose {
  font-size: 2.625rem;
  line-height: 1;

  font-family: "MonomaniacOne-Regular";

  color: var(--color__text);
}

.landing-page__hero-details {
  margin-top: 2rem;

  font-size: 2rem;
  font-family: "Lato-Regular";

  color: var(--color__text);
}

.landing-page__hero-action {
  cursor: pointer;

  margin-top: 4rem;

  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-family: "Poppins-Bold";

  align-self: center;

  border: none;
  color: black;
  background-color: var(--color__cta);
  border-radius: 100rem;

  position: relative;

  z-index: 1;
}

.landing-page__hero-action::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  translate: -50% -50%;

  opacity: 0.7;
  background-color: var(--color__cta);
  filter: blur(4rem);

  z-index: -1;

  transition: 0.5s;
}

.landing-page__hero-action:hover:before {
  opacity: 1;
}
