.portfolio {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  position: relative;
  overflow: hidden;
  z-index: 0;

  padding: var(--padding-large);
  background: #090d0c;
}

.portfolio__heading {
  display: flex;
  gap: 2rem;
}

.portfolio__icon-wrapper {
  width: 6rem;
  min-width: 6rem;
  height: 6rem;
}

.portfolio__title {
  margin-top: 1rem;
  color: var(--color__text);

  font-size: var(--text__title-size);
  font-family: "MonomaniacOne-Regular";
}

.portfolio__show-all-btn {
  width: fit-content;
  cursor: pointer;

  align-self: center;

  margin-top: 4rem;

  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-family: "Poppins-Bold";

  border: none;
  color: black;
  background-color: var(--color__cta);
  border-radius: 100rem;

  position: relative;
}

.portfolio__show-all-btn::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  translate: -50% -50%;

  opacity: 0.7;
  background-color: var(--color__cta);
  filter: blur(4rem);

  z-index: -1;

  transition: 0.5s;
}

.portfolio__show-all-btn:hover::before {
  opacity: 1;
}

.portfolio__creativity-icon {
  width: 6.5rem;
  height: 6.5rem;

  position: absolute;
  left: 0;
  bottom: 0;
}

.portfolio__edge-icon {
  width: 5rem;
  height: 5rem;

  position: absolute;
}

.portfolio__circles-icon-wrapper,
.portfolio__brain-icon-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  z-index: -1;
}

.portfolio__brain-icon-wrapper {
  scale: 0.8;
}
