.team {
  background: #0a0d12;
  padding: 3rem;

  overflow: hidden;
}

.team__heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.team__icon-wrapper {
  width: 6rem;
  min-width: 6rem;
  height: 6rem;

  overflow: hidden;
}

.team__title {
  color: var(--color__text);

  font-size: var(--text__title-size);
  line-height: var(--text__title-size);
  font-family: "MonomaniacOne-Regular";

  margin-bottom: 2rem;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.team-member {
  display: grid;
}

.team-member__image {
  width: 100%;

  aspect-ratio: 1 / 1;
}

.team-member__name,
.team-member__specialization {
  color: var(--color__text);

  text-align: center;
  font-family: "Lato-Regular";
  font-size: 1rem;
}

.team-member__name {
  margin-top: 0.8rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.team-member__specialization {
  scale: 0.8;
  opacity: 0.7;
}
