.main-header__navigation-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-header__navigation-link {
  color: white;

  text-decoration: none;
  font-family: "Lato-Regular";
}
