.main-footer {
  display: flex;
  justify-content: space-between;

  padding: 3rem 0 0 3rem;

  position: relative;
  overflow: hidden;

  padding-left: 5rem;
}

.main-footer__brand {
  width: 100%;
  height: fit-content;

  display: grid;
  grid-gap: 0 2rem;
  align-items: center;
  justify-items: center;
  grid-template-columns: min-content auto;
}

.main-footer__title {
  font-size: var(--text__normal-size);
  text-wrap: nowrap;

  font-family: "MonomaniacOne-Regular";

  color: var(--color__text);

  margin-bottom: 0.5rem;

  position: relative;
  z-index: -2;

  grid-row: 2;
  grid-column: 1;
}

.main-footer__social-media-icons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  grid-row: 3;
  grid-column: 1;
}

.main-footer__rights {
  padding-left: 2rem;

  color: var(--color__text);

  font-family: "Lato-Regular";

  position: absolute;
  bottom: 1rem;
  left: 50%;

  translate: -50% 0;

  opacity: 0.8;
}
