.landing-page__hero {
  min-height: 100vh;
  padding: 4rem var(--padding-large);

  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
  position: relative;
}

.landing-page__hero-image {
  width: 49%;

  aspect-ratio: 1 / 1;

  object-fit: cover;
  object-position: center;
}

.landing-page__stars-image-wrapper {
  width: 100%;
  height: 100%;

  position: absolute;
  inset: 0;

  z-index: -1;

  object-fit: cover;
  object-position: center;
}
